
/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
*/


// Normalize css
@import "normalize";

// Default variables
@import "vertebral/variables";


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "vertebral/grid";


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "vertebral/base";


/* Typography and Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "vertebral/typography";


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "vertebral/buttons";


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "vertebral/links";


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "vertebral/forms";


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "vertebral/lists";


/* Embed
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "vertebral/embed";


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "vertebral/code";


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "vertebral/tables";


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "vertebral/spacing";


/* Media queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "vertebral/media";


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "vertebral/utils";


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; 
}


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after {
  content: "";
  display: table;
  clear: both; 
}

